body {
    margin: 0;
    padding: 0;
    color: black;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;

    header {
        background-color: #33495D;
    }

    main {
        background-color: #f5f5f5;
    }

    footer {
        background-color: #aaaaaa;
    }
}

.headerButton {
    display: flex;
    justify-content: space-between;
    color: white;
    max-height: 100px;
    max-width: auto;
    align-items: center;
    
}

.tituloButton {
    display: flex;
    justify-content: space-between;
    color: black;
}

.button1 {
    text-align: center;
    margin: 20px;
    margin-left: 0px;
    border-radius: 10px;
    background-color: aqua;
    color: black;
}

.tabla {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}

.fila {
    display: flex;
    border-collapse: collapse;
    margin-bottom: 2px;
    margin-top: 2px;
}

.celda {
    flex: 1;
    border-right: 3px solid black;
    border-left: 3px solid black;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    padding: 10px;
    text-align: center;
}

.button2 {
    text-align: center;
    margin: 20px;
    margin-left: 0px;
    border-radius: 10px;
    background-color: #1d4ed8;
    color: white;
}

.tablaButton {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    margin-left: 0px;
    border-radius: 10px;
}

.button3 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 15px;
    border-radius: 10px;
    background-color: #1d4ed8;
    color: white;
    font-size: 18px;
    padding: 5px 15px;
}

.nuevaEmpresa {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-left: 25%;
    padding-top: 250px;
    font-size: 20px;
}

.contenedorLogIn {
    margin: auto;
    padding-top: 20px;
    text-align: center;
    display: grid;
    flex-direction: column;
    justify-content: center;
    font-size: 24px;
    width: 20%;
    margin-top: 250px;
    border: 3px solid black;
    border-radius: 10px;
}

.enlace {
    text-align: center;
    font-size: 16px;
}

.contenedorSignUp {
    margin: auto;
    padding-top: 20px;
    text-align: center;
    display: grid;
    flex-direction: column;
    justify-content: center;
    font-size: 24px;
    width: 20%;
    margin-top: 250px;
    border: 3px solid black;
    border-radius: 10px;
}

.inputCaracteres {
    padding: 8px;
    margin: 10px;
    margin-left: 0px;
    border-radius: 10px;
    font-size: 16px;
}